li {
  font-size: 1.1rem;
}
#iconsNav {
  font-size: 20px;
  color: white;
}
#kids {
  width: 35px;
  margin-left: 15px;
}
div button {
  margin-left: -12px;
}
#iconsFoot {
  font-size: 35px;

  color: white;
}
#lineSpace {
  height: 150px;
}
